<center>
  <h1>Rankings</h1>

  <table id="hor-zebra">
    <thead>
      <tr>
        <th>Keywords</th>
        <th>Rank</th>
        <th>Last update</th>
      </tr>
    </thead>
  <% @measurements.each do |measurement| %>
    <tr class="<%=cycle('odd','')%>">
      <td><%= measurement.keyword.name %></td>
      <td><%= pretty_measurerement(measurement.value) %></td>
      <td><%= l(measurement.updated_at, :format => :short) %></td>
    </tr>
  <% end %>
  </table>
</center>
